html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 600;
	src: url('/src/lib/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

@font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 600;
	src: url('/src/lib/fonts/DMSans-VariableFont_opsz\,wght.ttf');
}